.tabmod:hover{
    background-color: lightgrey;
        transition: all 400ms ease;
	-webkit-transition: all 400ms ease-in-out;
	-moz-transition: all 400ms ease-in-out;
	-o-transition: all 400ms ease-in-out;
	-ms-transition: all 400ms ease-in-out;
}
body{
    font-family: 'Roboto', sans-serif;
}

.color{
    background-color: #f9b300;
    color:white;
    font-weight:bold;
}

.color:hover{
    background-color: #f9b300;
    color:white;
    
}
a.mdl-navigation__link.links {
    font-size: 18px;
}